In [2]:
import pandas as pd
df = pd.read_csv("Desktop/state_baby_names.csv")

In [3]:
sample_df = df.sample(n=1000, random_state=42)

In [4]:
sample_df.to_csv("Desktop/state_baby_names.csv", index=False)

In [5]:
sample_df.head(1000)

              Id      Name  Year Gender State  Count
552452    552453    Osiris  2011      F    CA      7
3266433  3266434    Andrea  2014      F    NE     15
1515843  1515844   Tristin  2002      M    ID     12
3865051  3865052  Giovanny  2013      M    NY     18
770525    770526   Anthony  1932      M    CO     22
...          ...       ...   ...    ...   ...    ...
926471    926472       Roy  1970      M    DC     18
4836242  4836243    Donica  1978      F    TX      5
1194752  1194753     Celia  1969      F    GA     11
1271473  1271474    Randal  1950      M    GA      7
881120    881121     Harry  2004      M    CT     12

[1000 rows x 6 columns]